{% extends 'index.html' %}
<script>
$.ajax({
       url: '/some-app/some-view/',
       type: 'GET',
       dataType: 'json',
       success: function(result){
               $('#image-id').attr('src', result.image);
       },
       error: function(xhr){
              alert(xhr.responseText); //Remove this when all is fine.
       }
});
</script>

{% block stock-name%}
<h1> {{name}} </h1>
<h2> {{market}} </h2>

{% endblock %}

{% block stockprice %}
<h1> {{price}} </h1>
<p> {{priceStatus}} </p>
{% endblock %}


{% block valuation %}
{% for key, value in valuation.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}

{% block profitability %}
{% for key, value in profitability.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}

{% block capitalStructure %}
{% for key, value in capitalStructure.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}

{% block efficiency %}
{% for key, value in efficiency.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}

{% block liquidity %}
{% for key, value in liquidity.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}
