{% extends 'index.html' %}

{% load static %}

{% block loadingscript %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="findata/static/pages/main.js"></script>
{% endblock %}


{% block stock-name%}
<h1> {{name}} </h1>

{% endblock %}

{% block time-series %}
<div>{{graph|safe}}</div>
{% endblock %}

{% block stockprice %}
<h1> {{currency}}{{price}} </h1>
<p id="priceStatus"> {{status}} </p>
{% endblock %}


{% block valuation %}
{% for key, value in valuation.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}

{% block profitability %}
{% for key, value in profitability.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}

{% block capitalization %}
{% for key, value in capitalization.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}

{% block efficiency %}
{% for key, value in efficiency.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}

{% block liquidity %}
{% for key, value in liquidity.items %}
<p> {{key}}<span> {{value}}</span></p>
{% endfor %}
{% endblock %}
